#title {
    color: teal;
    text-align: center
}

body {
    background-color: thistle;
}

#container {
    background-color: black;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    display: inline-block;
    
}

.square {
    width: 100px;
    height: 90px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.border-bottom-left{
    border-bottom: 2px solid teal;
    border-left: 2px solid teal;
    
}

.border-top-right {
    border-top: 1px solid thistle;
    border-right: 1px solid thistle;
    
    
}

.row {
    display: flex;
}